<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Estado de resultado</title>
</head>
<body>
    <div style="width: 75%; margin: 0 auto;">
        <table class="table">
            <thead>
                <tr style="text-align:center;">
                    <td colspan="4"><h3>5-State Tech</h3></td>
                </tr>
                <tr style="border: none; text-align: center;">
                    <td colspan="4"><h3>Balance General del Periodo</h3></td>
                </tr>
                <tr style="border: none; text-align: center;">
                    <td colspan="4">Periodo de: {{balance_general.fecha_de_inicio}} hasta: {{balance_general.fecha_de_fin}}</td>
                </tr>
              <tr>
                <th scope="col">Numero cuenta</th>
                <th scope="col">Nombre cuenta</th>
                <th scope="col">Debe</th>
                <th scope="col">Haber</th>
              </tr>
            </thead>
            <tbody>
              {% for transaccion  in debe %}
              <tr>
                <th scope="row">{{transaccion.codigo_cuenta}}</th>
                <td>{{transaccion.nombre_cuenta}}</td>
                <td>{{transaccion.saldo_cuenta}}</td>
                <td>$.-</td>
              </tr>
              {% endfor %}
              {% for transaccion in haber %}
              <tr>
                <th scope="row">{{transaccion.codigo_cuenta}}</th>
                <td>{{transaccion.nombre_cuenta}}</td>
                <td>$.-</td>
                <td>{{transaccion.saldo_cuenta}}</td>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row">311</th>
                <td>Capital</td>
                <td>$.-</td>
                <td>{{capital}}</td>
              </tr>
              <tfoot style="background-color: rgb(190, 186, 186);">
                <td colspan="2">Total</td>
                <td>{{saldo_debe}}</td>
                <td>{{saldo_haber}}</td>
              </tfoot>
            </tbody>
          </table>
    </div>
</body>
</html>