<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Listados de Balances generales </title>
</head>
<body>
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Vista de Balances Generales</h1>
            {% if resultado %}
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Fecha inicial</th>
                        <th scope="col">Fecha Fin</th>
                        <th scope="col">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for r in resultado %}
                      <tr>
                        <td>{{r.fecha_de_inicio}}</td>
                        <td>{{r.fecha_de_fin}}</td>
                        <td><a href="{% url 'modulo_general:lista-balance-general'%}?ver_balance={{r.id}}" class="btn btn-outline-info">Ver Balance General</a></td>
                      </tr>
                       {% endfor %}
                    </tbody>
                  </table>

                  {% else %}
                  <div> No existe ningun estado de capital guardado </div>

            {% endif %}
        </section>
        
</body>
</html>