<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Control de Costos</title>
</head>

<body>

    <h1 class="text-center py-4">Control de costos</h1>

    <div class="container">
        <div class="row justify-content-start">
            <div class="col-sm-3">
                <label class="label">
                    <h5>Proyecto: </h5>
                </label>                
            </div>            
            <div class="col-sm-3">
                    {{ proyecto.nombre_proyecto }}
            </div>            
        </div>
        <div class="row justify-content-start">
            <div class="col-sm-3">
                <label class="label">
                    <h5>Fecha de expedición: </h5>
                </label>                
            </div>            
            <div class="col-sm-3">
                    {{ proyecto.fecha_expedicion }}
            </div>            
        </div>
        <div class="row justify-content-start">
            <div class="col-sm-3">
                <label class="label">
                    <h5>Departamento: </h5>
                </label>                
            </div>            
            <div class="col-sm-3">
                    {{ proyecto.departamento }}
            </div>            
        </div>
        <div class="row justify-content-start">
            <div class="col-sm-3">
                <label class="label">
                    <h5>Servicio: </h5>
                </label>                
            </div>            
            <div class="col-sm-3">
                    {{ proyecto.servicio }}
            </div>            
        </div>
        <br>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="5" class="table-active text-center">Mano de obra</th>
                </tr>
                <tr>                    
                    <th scope="col" class="text-center">Cargo</th>
                    <th scope="col" class="text-center"># Empleados</th>
                    <th scope="col" class="text-center">Hora</th>
                    <th scope="col" class="text-center"># Hora</th>
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for costo in hoja_costos %}
                <tr>
                    <td>{{ costo.nombre_cargo }}</td>
                    <td>{{ costo.cantidad_cargo }}</td>
                    <td>{{ costo.salario_hora }}</td>
                    <td>{{ costo.numero_hora }}</td>
                    <td>{{costo_total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2" class="table-active text-center">CIF</th>
                </tr> 
                <tr>
                    <th scope="col" class="text-center">Tasa</th>
                    <th scope="col" class="text-center">Total importe cif</th>
                </tr>
            </thead>
                <tr>
                    <td>{{ tasa }}  {{descripcion}}</td>
                    <td> {{importe_cif}} </td>
                </tr>
        </table>

        <div class="py-4">
            <a class="btn btn-primary" href="{% url 'modulo_costo:inicio_costos' %}">Volver</a>
            <a class="btn btn-primary" href="{% url 'modulo_costo:agregar_hoja_mano_obra' %}">Agregar mano de obra</a>
        </div>

    </div>

</body>

</html>