<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestionTransporte/css/bootstrap.css' %}">
    <link rel="stylesheet" href="/gestionTransporte/static/gestionTransporte/css/bootstrap.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <div class="nav">
        <a href="{% url 'gestionTransporte:logout_sesion' %}">logout</a>
    </div>
    <div>
        <h1> Bienvenido {{ request.user.username }}</h1>
        <h2>ROL DEL USUARIO {{request.user.rol}}</h2>
    </div>
</body>
</html>